#myCarousel {
  margin-top: 30px;
}
.thumbnail {
  border: none;
}
.thumbnail-modifier {
  margin-bottom: 0px;
}
.thumbnails {
  display: inline-flex;
  width: 100%;
}
.thumbnails-center {
  display: flex;
  margin: 0 auto;
}
.cursor {
  cursor: pointer;
}
.row-fluid {
  display: inline-flex;
  width: 100%;
}
#myCarousel2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.row-center {
  display: flex;
  margin: 0 auto;
}
.carousel-control-modifier {
  background-image: none !important;
  color: black !important;
}

.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
} */

/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}

/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}

 .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

/* Media queries */

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 976px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* Smartphones portrait and landsacape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* iPhone 7 and 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* iPhone 7+, iPhone 8+, Nexus 5X, Nexus 6P */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

  /* Samsung Galaxy S3 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

  /* Samsung Galaxy S4 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* Samsung Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

@media only screen (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* Smartphones landscape */
@media only screen and (min-width: 321px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* Smartphones portrait */
@media only screen and (max-width: 320px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* iPads portrait and landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* iPads landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* iPads portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* iPad 3 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: auto;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
  }
}

/* Desktops and laptops */ 
@media only screen and (min-width: 1224px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}

/* Large screens */
@media only screen and (min-width: 1824px) {
  .carousel .carousel-inner .carousel-item-next,
  .carousel .carousel-inner .carousel-item-prev {
    width: 1224px;
  }
  #myCarousel1 .carousel-control .icon-prev,
  #myCarousel1 .carousel-control .icon-next,
  #myCarousel1 .carousel-control .glyphicon-chevron-left,
  #myCarousel1 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px;
  }
  #myCarousel2 .carousel-control .icon-prev,
  #myCarousel2 .carousel-control .icon-next,
  #myCarousel2 .carousel-control .glyphicon-chevron-left,
  #myCarousel2 .carousel-control .glyphicon-chevron-right {
    width: auto;
    font-size: 24px;
    line-height: 24px;
    margin-top: -35px
  }
}